@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url(./card.css);
@import url(./header.css);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #2f2f2f;
    color: white;
    font-family:'Roboto', sans-serif;;
}

#sect-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

#sect-inputs input, #sect-inputs select{
    width: 205px;
    height: 22px;
    border-radius: 6px;
    padding: 2px;
    background-color: #2f2f2f;
    color: white;           
}

#div-search{
    display: flex;
    flex-direction: column;
}

#cards-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 24px;
    gap: 40px;
    width: 100vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.statePage{
    color: blue;
}